<html>
	<head>
	<title>Chitter</title>
	</head>
	<body>
		<header>
		<h1>
			Chitter
		</h1>
		<nav>
			<ul>
				<li>
					<a href="/addlink">Chit</a>
				</li>
				<li>
					<a href="/users/new">Sign Up</a>
				</li>
				<li>
					<a href="/sessions/new">Sign In</a>
				</li>
			</ul>
		</nav>
	</body>
</html>